* {
  box-sizing: border-box;
  font-family: "Montserrat",Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  border: none;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

