$primary-color: #6E63FF;
$link-color: #555;
$body-bg-color: #F1F1F1;
$main-bg-color: #fff;
$shadow-color: #ccc;
$light-color: #fff;
$form-main-color: #ccc;
$form-data-color: #5B5B5B;
$checkbox-border: #000;
$checkbox-checked-img: url("../img/check.svg");