.rc-note-bars {
  display: none;
  flex-direction: column;
  padding: .5rem;
}
.rc-note-bars-mobile {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0 1rem;
}
.nb-unity {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nb-unity * {
  height: 100%;
}
.nb-unity > div {
  width: 80%;
  display: flex;
  height: .3rem;
  margin: 0 .3rem 0 1.5rem;
}
.nb-unity span:first-child {
  color: #777;
  width: 10%;
  font-size: .5rem;
}
.nb-unity span:last-child {
  width: 10%;
  font-size: .7rem;
  font-weight: 600;
}
.nb {
  border-radius: 10px;
  min-width: 5px;
  height: 100%;
}
.green-bar {
  background-color: var(--main-green);
}
.yellow-bar {
  background-color: var(--main-yellow);
}
.red-bar {
  background-color: var(--main-red);
}
#critic-reviews .green-bar,
#critic-section .green-bar,
#critic-reviews .nbm-green .nbm-note-bar-content {
  width: calc(calc(40/43)*100%);
}
#critic-reviews .yellow-bar,
#critic-section .yellow-bar,
#critic-reviews .nbm-yellow .nbm-note-bar-content {
  width: calc(calc(3/43)*100%);
}
#critic-reviews .red-bar,
#critic-section .red-bar,
#critic-reviews .nbm-red .nbm-note-bar-content {
  width: calc(calc(0/43)*100%);
}
#user-reviews .green-bar,
#user-section .green-bar,
#user-reviews .nbm-green .nbm-note-bar-content {
  width: calc(calc(4042/4937)*100%);
}
#user-reviews .yellow-bar,
#user-section .yellow-bar,
#user-reviews .nbm-yellow .nbm-note-bar-content {
  width: calc(calc(304/4937)*100%);
}
#user-reviews .red-bar,
#user-section .red-bar,
#user-reviews .nbm-red .nbm-note-bar-content {
  width: calc(calc(591/4937)*100%);
}

.nbm-top {
  display: flex;
  align-items: center;
  width: 100%;
}

.nbm-top > div:last-child {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.nbm-top h2 {
  margin-bottom: .3rem;
  font-size: 1.2rem;
}
.nbm-top p {
  font-weight: bold;
  color: var(--main-green);
  font-size: 1.1rem;
}

.nbm-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
}

.nbm-unity {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.nbm-unity > div:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: .2rem;
}

.nbm-unity > div:first-child span:first-child{
  display: flex;
  justify-content: space-between;
  font-size: .9rem;
}
.nbm-unity > div:first-child span:last-child{
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
  color: #888;
}
.nbm-unity > div:last-child {
  position: relative;
}

.nbm-green > div{
  background-color: var(--main-green);
}
.nbm-yellow > div {
  background-color: var(--main-yellow);
}
.nbm-red > div {
  background-color: var(--main-red);
}

.nbm-note-bar {
  width: 100%;
  opacity: .2;
  display: flex;
  border-radius: 10px;
  height: .3rem;
  position: absolute;
}

.nbm-note-bar-content {
  border-radius: 10px;
  height: 100%;
  background-color: inherit;
  z-index: 10;
  opacity: 1;
  position: absolute;
  height: .3rem;
}


.nbm-footer {
  display: flex;
  justify-content:space-between;
}

.nbm-footer p {
  font-size: .8rem;
  color: #888;
}