.rs-top {
  background: linear-gradient(to bottom, #ddd, #efefef);
  display: flex;
  padding: .5rem;
  border-bottom: 1px solid #cfcfcf;
  justify-content: space-between;
}

.rst-right {
  font-size: .7rem;
  color: #777;
  font-weight: bold;
}
