.review {
  display: flex;
  border-radius: 5px;
  margin-bottom: .5rem;
  background-color: white;
  flex-direction: column;
}
.review-note {
  margin-right: 1rem
}
.review-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.review-header {
  display: flex;
}
.review-header > div:last-child {
  display: flex;
  flex-direction: column;
  margin-left: .5rem;
}
.review-post-date {
  font-size: .8rem;
  color: #333;
  margin-top: .2rem;
}
@media(min-width: 1200px) {
  .review-post-date {
    font-size: .6rem;
  }
}
.review-main {
  margin: .5rem 0;
  font-size: .8rem;
}
.review-footer {
  display: none;
}
@media(min-width: 1200px) {
  .review-footer {
    display: flex;
  }
}
.review-footer span {
  font-size: .6rem;
  color: #333;
}
#user-section .review-footer,
#user-reviews .review-footer {
  justify-content: flex-end;
}
.sr-reviews {
  display: flex;
  flex-direction: column;
  background-color: #F1F1F1;
  padding: .5rem;
}
.reviews-container {
  display: flex;
  flex-direction: column;
  background-color: #F1F1F1;
  border: 1px solid #cfcfcf;
  padding: .5rem;
}
.reviews-container .review {
  flex-direction: row;
}
.reviews-container .review-header {
  justify-content: space-between
}
@media(min-width: 1200px) {
  .review {
    border: 1px solid #cfcfcf;
    padding: .6rem;
  }
  .review-main {
    font-size: .6rem;
  }
}