.critic-top {
  display: flex;
}
.critic-top > * {
  display: flex;
  flex-grow: 1;
}
.critic-text {
  display: flex;
  flex-direction: column;
  margin-left: .5rem;
}
.critic-text h6 {
  font-size: .7rem;
  font-weight: bold;
  margin-bottom: .5rem;
}
.critic-text p {
  font-size: .6rem;
}
.critic-text span {
  white-space: nowrap;
  font-weight: bold;
  font-size: .65rem;
}
.critic-score-text {
  justify-content: center;
  padding: .5rem 0;
}
.critic-score-text span {
  font-weight: 800;
  font-size: .65rem;
  width: 50%;
}
.critic-top .rc-note-bars {
  padding: .5rem;
  padding-right: 2rem;
}
.csru-top {
  display: flex;
  background-color: #666;
  color: white;
  padding: .3rem .5rem;
  justify-content: space-between;
  align-items: center;
}
.csr-title {
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: bold;
}
.csr-question {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .5rem;
  color: black;
  background-color: white;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  cursor: help;
}
.csr-unscored {
  margin-top: 2rem;
}