.ds-top {
  display: flex;
}

.ds-media-logo {
  margin-right: 1rem;
}

.ds-media-data > p {
  margin-top: 1rem;
  font-size: .7rem;
}

.ds-media-data {
  margin-bottom: 1rem;
}

.ds-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.ds-table table {
  width: 100%;
}

.ds-table tr:nth-of-type(odd) {
  background-color: #f1f1f1;
}

.ds-table td {
  padding: .3rem;
  font-size: .6rem;
}

.ds-table td span {
  font-weight: bolder;
}

.ds-footer {
  display: flex;
  flex-direction: column;
  font-size: .7rem;
}

