
* {
  font-family: "Helvetica";

  :not(.container) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}


html {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  display: flex;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: 1rem;
  }
}



