#header-container {
  display: flex;
  justify-content: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: .5rem 1rem;
  background-color: var(--main-gray);
  width: 100%;
}
.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hl-brand {
  display: none;
  width: 80px;
  border-right: 1px solid #ccc;
  padding-right: .8rem;
  height: 1.5rem;
}
.hl-course-name {
  padding-left: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hl-course-name * {
  color: white;
  font-size: .8rem;
}
.hl-course-name a {
  padding-left: .5rem;
  transition: .5s;
}
.hl-course-name a:hover {
  text-decoration: underline;
}
.header-right {
  display: none;
}
.hr-course-conclusion {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hr-trophy {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background: conic-gradient(var(--main-purple)90deg , white 90deg 360deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.trophy-container {
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--main-gray);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
}
.hrcc-link {
  color: white;
  font-size: .7rem;
  display: none;
  margin: 0 1rem;
}
.hrcc-link i {
  margin-left: .3rem;
}
.btn {
  background-color: transparent;
  color: white;
  border:1px solid white;
  padding: .5rem 1rem;  
  font-weight: bold;
  font-size: .7rem;
  cursor: pointer;
}
#header-container button {
  margin: 0 .5rem;
}
@media (min-width: 768px) {
  .hl-brand {
    display: block
  }
  .hl-course-name i {
    display: none;
  }
  .hrcc-link {
    display: block;
  }
  .hl-brand {
    display: block
  }
  .header-right {
    display: flex;
  }
  #header-container {
    justify-content: space-between;
  }
}