.main-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 80vh auto;
  column-gap: .5;
  align-items: start;
  justify-items: start;
}
#accordion-right {
  display: none;
  grid-row: 1/3;
}
#video-container,#main-menu {
  grid-column: 1/3;
}
.main-container-input {
  display: none;
}