@use "../1_base/variables";
@use "../3_modules/_mixins";

.card-section {
  display: flex;
  justify-content: center;
  padding: 0 .7rem;
  flex-wrap: wrap;
  margin: 2rem 0;

  &__item {
    width: 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 20px;

    @include mixins.media800 {
      width: 50%;
    }

    @include mixins.media450 {
      width: 100%;
    }

    &:hover,
    &:focus {
      background-color: #fee;

      > .card-section__img {
        background-color: variables.$main-yellow;
        top: -1rem;
      }
    }
  }

  &__img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: variables.$main-blue;
    transition: background-color .5s ease, top .5s ease;
    top: 0;
    position: relative;
    
  }

  &__sprite {
    width: 60px;
    height: 70px;
  }
  #csimg1 {
    background: url("../img/img2.png") 116px 0px;
  }
  #csimg2 {
    background: url("../img/img2.png") 0px 0px;
  }
  #csimg3 {
    background: url("../img/img2.png") 124px 71px;
  }
  #csimg4 {
    background: url("../img/img2.png") 62px 8px;
  }
  #csimg5 {
    height: 50px;
    background: url("../img/img2.png") 3px 55px;
  }

  &__main-link {
    margin: 1rem 0;
    font-weight: bold;
  }

  &__bottom-link {
    font-size: .7rem;
    white-space: nowrap;

    @include mixins.media800 {
      white-space: normal;
      text-align: center;
      width: 80%;
      font-size: .8rem;
    }

    @include mixins.media450 {
      width: 100%;
    }
  }
  &__main-link,
  &__bottom-link {

    &:hover {
      text-decoration: underline;
    }
  }
}