@use "../1_base/variables";
@use "sass:color";
@use "../3_modules/_mixins";

.top-container {
  display: flex;
  margin-bottom: 2rem;
  width: 100vw;


  @include mixins.media800 {
    flex-direction: column;
  }

  @include mixins.media450 {
    max-width: 450px;
    width: 100%;
  }

  &__btn {
    flex: 1;
    padding: .6rem;
    color: white;
    text-align: center;
    font-size: .9rem;

    @include mixins.media450 {
      width: 100%;
      padding: 1rem 0;
      flex: 0 1 0;
    }

    &--yellow {
      background-color: variables.$main-yellow;
      color: black;

      &:hover {
        background-color: color.adjust(variables.$main-yellow,$lightness: 10%);
      }
    }
    &--blue {
      background-color: variables.$main-blue;

      &:hover {
        background-color: color.adjust(variables.$main-blue,$blackness: 10%);
      }
    }
    &--orange {
      background-color: variables.$main-orange;

      &:hover {
        background-color: color.adjust(variables.$main-orange,$lightness: 10%);
      }
    }
  }
}